name: Build Chromium

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - chromium-version

jobs:
  build-chromium:
    timeout-minutes: 1440
    strategy:
      fail-fast: false
      matrix:
        include:
          - architecture: arm64
            runner: ubuntu-24.04-arm
          - architecture: x86
            runner: ubuntu-latest
    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
      PYTHON_VERSION: 3.10.14
      VPYTHON_BYPASS: manually managed python not supported by chrome operations
    runs-on:
      - ${{ matrix.runner }}
    container:
      image: amazonlinux:2023
    steps:
      - name: Install dependencies
        run: dnf install -y tar gzip git
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-clang
        with:
          architecture: ${{ matrix.architecture }}
      - uses: ./.github/actions/install-python
      - uses: ./.github/actions/clone-source
      - uses: ./.github/actions/sync-source-dependencies
        with:
          architecture: ${{ matrix.architecture }}
      - uses: ./.github/actions/install-rust
        with:
          architecture: ${{ matrix.architecture }}
      - uses: ./.github/actions/install-nodejs
        if: ${{ matrix.architecture == 'arm64' }}
        with:
          architecture: ${{ matrix.architecture }}
      - uses: ./.github/actions/compile
        with:
          architecture: ${{ matrix.architecture }}
      - uses: ./.github/actions/package
        with:
          architecture: ${{ matrix.architecture }}
